{# a random id for each gallery #}
{% set id = random() %}

{# html #}
<p id="{{ id }}">
    {% for image in images %}
        <a href="{{ image["src"] }}" class="glightbox-{{ id }}"
                {# add description, if enabled #}
                {% if descEnabled == "true" %}
                    data-description="{{ image["title"]|raw }}"
                {% endif %}
        >
            {% set original_image = image["src"] %}
            {% if base_url %}
                {% set original_image = original_image|replace({(base_url): ""}) %}
            {% endif %}
            {% set original_image = original_image|split("/user/", 2) %}{# be careful, a page can be named "user", only replace the first occurence #}
            {% set original_image = "user://" ~ original_image[1] %}
            {% set original_image = page.media[original_image] %}{# can load any image in the /user directory #}
            {% if original_image %}
                {% set resize_factor = (rowHeight * resizeFactor) / original_image.height %}
                {{ original_image.cropResize(original_image.width*resize_factor, original_image.height*resize_factor).html("", image.alt)|raw }}{# Do not set "title", it's useless #}
            {% else %}
                {{ image["image"]|raw }}
            {% endif %}

        </a>
    {% endfor %}
</p>

{# add javascript for gallery and lightbox configuration #}
<script>
$("#{{ id }}").justifiedGallery({
    rowHeight: {{  rowHeight  }},
    margins: {{  margins  }},
    lastRow: "{{  lastRow  }}",
    captions: {{  captions  }},
    border: {{  border  }},
});

GLightbox({
    selector: ".glightbox-{{ id }}",
    openEffect: "{{ openEffect }}",
    closeEffect: "{{ closeEffect }}",
    slideEffect: "{{ slideEffect }}",
    closeButton: {{ closeButton }},
    touchNavigation: {{ touchNavigation }},
    touchFollowAxis: {{ touchFollowAxis }},
    keyboardNavigation: {{ keyboardNavigation }},
    closeOnOutsideClick: {{ closeOnOutsideClick }},
    loop: {{ loop }},
    draggable: {{ draggable }},
    descPosition: "{{ descPosition }}",
});</script>
