{# a random id for each gallery #}
{% set id = random() %}

{# html #}
<p id="{{ id }}">
    {% for image in images %}
        <a href="{{ image["src"] }}" class="glightbox-{{ id }}"
                {# add description, if enabled #}
                {% if descEnabled == "true" %}
                    data-description="{{ image["title"]|raw }}"
                {% endif %}
        >
            {{ image["image"]|raw }}
        </a>
    {% endfor %}
</p>

{# add javascript for gallery and lightbox configuration #}
<script>
$("#{{ id }}").justifiedGallery({
    rowHeight: {{  rowHeight  }},
    margins: {{  margins  }},
    lastRow: "{{  lastRow  }}",
    captions: {{  captions  }},
    border: {{  border  }},
});

GLightbox({
    selector: ".glightbox-{{ id }}",
    openEffect: "{{ openEffect }}",
    closeEffect: "{{ closeEffect }}",
    slideEffect: "{{ slideEffect }}",
    closeButton: {{ closeButton }},
    touchNavigation: {{ touchNavigation }},
    touchFollowAxis: {{ touchFollowAxis }},
    keyboardNavigation: {{ keyboardNavigation }},
    closeOnOutsideClick: {{ closeOnOutsideClick }},
    loop: {{ loop }},
    draggable: {{ draggable }},
    descPosition: "{{ descPosition }}",
});</script>
